#BlockContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto;
  position: relative;
}

#MainHeader {
  font-weight: bold;
  color: #f2f8fa;
  font-size: 32px;
  text-align: center;
  padding: 1rem;
  border-bottom: 2px solid #26303a;
}

#FeedContainer {
  overflow-y: auto;
  height: 100%;
  width: 100%;
}
#AddPost {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  font-size: 60px;
  color: whitesmoke;
  cursor: pointer;
}
